In [1]:
#load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize']=(10.0,8.0)
import seaborn as sns
from scipy import stats
from scipy.stats import norm

In [2]:
#load data
#import csv
train_text = pd.read_csv("training_text",sep='\|\|',engine='python',names=['Id','Text'])
train_var = pd.read_csv("training_variants")

In [3]:
test_text = pd.read_csv("test_text",sep='\|\|',engine='python',names=['Id','Text'],skiprows=1)
test_var = pd.read_csv("test_variants")
test=test_text.join(test_var)
test.drop('ID',axis=1,inplace=True)

test.head()

   Id                                               Text     Gene Variation
0   0  2. This mutation resulted in a myeloproliferat...    ACSL4     R570S
1   1   Abstract The Large Tumor Suppressor 1 (LATS1)...    NAGLU     P521L
2   2  Vascular endothelial growth factor receptor (V...      PAH     L333F
3   3  Inflammatory myofibroblastic tumor (IMT) is a ...     ING1     A148D
4   4   Abstract Retinoblastoma is a pediatric retina...  TMEM216      G77A

In [4]:
train_var.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [5]:
train=train_text.join(train_var)
train.drop('ID',axis=1,inplace=True)
train.head()

,Id,Text,Gene,Variation,Class
0,0,Cyclin-dependent kinases (CDKs) regulate a var...,FAM58A,Truncating Mutations,1
1,1,Abstract Background Non-small cell lung canc...,CBL,W802*,2
2,2,Abstract Background Non-small cell lung canc...,CBL,Q249E,2
3,3,Recent evidence has demonstrated that acquired...,CBL,N454D,3
4,4,Oncogenic mutations in the monomeric Casitas B...,CBL,L399V,4

In [6]:
train.describe(include=[np.object])

,Text,Gene,Variation
count,3321,3321,3321
unique,1921,264,2996
top,The PTEN (phosphatase and tensin homolog) phos...,BRCA1,Truncating Mutations
freq,53,264,93

In [9]:
train.drop('Id',axis=1).describe()

             Class
count  3321.000000
mean      4.365854
std       2.309781
min       1.000000
25%       2.000000
50%       4.000000
75%       7.000000
max       9.000000

In [10]:
key=[]
for i in train['Text']:
    if i==train['Text'][4]:
        key=i
train[train['Text']==key]

,Id,Text,Gene,Variation,Class
4,4,Oncogenic mutations in the monomeric Casitas B...,CBL,L399V,4
5,5,Oncogenic mutations in the monomeric Casitas B...,CBL,V391I,4
6,6,Oncogenic mutations in the monomeric Casitas B...,CBL,V430M,5
10,10,Oncogenic mutations in the monomeric Casitas B...,CBL,P395A,4
14,14,Oncogenic mutations in the monomeric Casitas B...,CBL,P428L,5
18,18,Oncogenic mutations in the monomeric Casitas B...,CBL,M374V,5
21,21,Oncogenic mutations in the monomeric Casitas B...,CBL,C396R,4
22,22,Oncogenic mutations in the monomeric Casitas B...,CBL,G375P,4

In [11]:
check=pd.DataFrame(index=train.index)
check['TextGeneVariation']=train['Text']+train['Gene']+train['Variation']
check['TextGene']=train['Text']+train['Gene']
check['TextVariation']=train['Text']+train['Variation']
check['GeneVariation']=train['Gene']+train['Variation']

In [12]:
check.describe(include=[np.object])

,TextGeneVariation,TextGene,TextVariation,GeneVariation
count,3321,3321,3321,3321
unique,3321,1940,3319,3321
top,The FIP1L1-PDGFRA fusion is seen in a fraction...,The PTEN (phosphatase and tensin homolog) phos...,"The cyclin-dependent protein kinases, or cdks,...",SOX9P70R
freq,1,53,2,1

In [15]:
a=[]
for i in train['Text']:
    a.append(len(i))
check['count']=a
for key,i in check['count'].groupby(train['Class']):
    print(key,np.average(i))

1 63031.5035211
2 62342.7278761
3 45065.752809
4 60008.7827988
5 50096.3057851
6 48097.5890909
7 76612.8478489
8 73194.2631579
9 86138.5135135